
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ast_lispy</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <script type="text/html" id="constant-int-template">
        <span data-bind="text: type"></span>
        <strong data-bind="text: value"></strong>
    </script>
    <script type="text/html" id="body-element">
        <div>
            <span data-bind='if: lookup.customObjects[$data].type === "constant-int" '>
                <div data-bind="template: { name: 'constant-int-template', data: lookup.customObjects[$data] }"></div>
            </span>
        </div>
    </script>
    <div class="text-center">
        <button onclick="lookup.createFunction()">create function </button>

    </div>
    <div class="text-left" data-bind="foreach: functionsArray">
        <div>
            <span style="font-size: 1rem;" class="my-function" data-bind="text: lookup.customObjects[id].type"></span>
            <span data-bind="if: lookup.customObjects[id].name !== ''">
                <span style="font-size: 1.5rem;" data-bind="text: lookup.customObjects[id].name"></span>
            </span>
            <span data-bind="if: lookup.customObjects[id].type !== 'built-in-function'">
                <div data-bind="template: { name: 'body-element', foreach: body }" data-bind="foreach: " >
                </div>
                <button data-bind="click: $root.focusOnBody">focus</button>
            </span>
        </div>
        
    </div>

    <div class="text-center">
        <input data-bind="value: $root.constantIntValue" /></p>
        <button data-bind="click: $root.addConstant">add constant</button>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/knockoutjs/3.5.1/Content/Scripts/knockout-3.5.1.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
