/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background-color: #333;
  color: lightblue;
}

body {
  /* Margin bottom by footer height */
  color: inherit;
  background-color: inherit;
  font-family: 'Input Mono', monospace;
}
.my-function-result
{
  color:rgb(138, 71, 8);
  margin-left: 2rem;
}
.my-function-name
{
  color: rgb(206, 206, 98);
}

.contextual-omni-box
{
  position: absolute;
  top: 20rem;
  left: 20rem;
  z-index: 10;
  padding-left: 1rem;
  padding-right: 1rem;
  background: repeating-linear-gradient( 45deg, #3d4574, #3d4574 2rem, #283058 2rem, #283058 4rem );
}


