/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background-color: gray;
}

body {
  /* Margin bottom by footer height */
  color: inherit;
  background-color: inherit;
}
.my-function-result
{
  color:rgb(9, 66, 7);
  margin-left: 2rem;
}

