/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background-color: #333;
  color: lightblue;
}

body {
  /* Margin bottom by footer height */
  color: inherit;
  background-color: inherit;
  font-family: 'Input Mono', monospace;
}
.my-function-result
{
  color:rgb(218, 116, 21);
  margin-left: 0rem;
}
.my-function-name
{
  color: rgb(206, 206, 98);
}

.contextual-omni-box
{
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 10;
}

.contextual-omni-wheel
{
  position: absolute;
  width: max-content;
  top: 1rem;
  left: 2rem;
  z-index: 10;
}

.contextual-omni-wheel--options
{
  position: absolute;
  width: max-content;
}

.omnibox-options
{
  max-height: 20rem;
  overflow-y: scroll;
}

.diagonal-stripes-background
{
  background: repeating-linear-gradient( 45deg, #3d4574, #3d4574 2rem, #283058 2rem, #283058 4rem );
}







.webpad-color-orange{ 
  color: #ffa26b;
}

.webpad-color-blue{ 
  color: #84bfff;
}

.weboad-color-pink{ 
  color: #ff94eb;
}

.webpad-color-green{ 
  color: #64e05e;
}

.webpad-color-yellow{ 
  color: #f8e755;
}

.webpad-color-light-pink{ 
  color: #ffbbdc;
}

.webpad-color-purple{ 
  color: #d190ff;
}

.webpad-color-coral{ 
  color: #ff8f95;
}

.lisperanto-patreon{
  background:rgb(255, 66, 77);
  color:#fff;
  border-radius: 3rem;
  padding: 0.5rem;
  border: 0.2rem solid rgb(255, 66, 77);
  display: inline-block;
}



button
{
    background: inherit;
    color: inherit;
}
input
{
    background:inherit;
    color: inherit;
}


a 
{
    color: inherit;
    background: inherit;
    text-decoration: underline;
}

.webpad-button-no-border
{
    /* border-style: none; */
    display: inline-block;
}

.webpad-button-paddings
{
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.lisperanto-div-button
{
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    display: inline-block;
    border-style: solid; 
    border-width: 0.2rem;
    border-color: #f8e755;
    border-radius: 0.7rem;
}

.webpad-brightness-dimmed
{
    filter: brightness(70%);
}

.webpad-golden-frame
{
  border-style: solid; 
  border-width: 0.2rem;
  border-color: #f8e755;
  border-radius: 0.7rem;
}

.webpad-sky-frame
{
  border-style: solid; 
  border-width: 0.2rem;
  border-color: #84bfff;
  border-radius: 0.7rem;
}

.omni-box-input
{
    min-width: 20em;
    color: #64e05e;
    border-radius: .3em;
    border-style: solid;
    border-color: aliceblue;
    padding-left: .3em;
    padding-right: .3em;
    padding-bottom: .3em;
    padding-top: .3em;
}

.omni-box-input::placeholder
{
    color: inherit;
    filter: brightness(70%);
}

.lisperanto-ui-element
{
    position: absolute;
    display: inline-grid;
    width: max-content;
    z-index: 1;

}

.lisperanto-anchor-sandbox
{
    position: absolute;
    display: inline-grid;
    left: 40vw;
    top: 33vh;
}


.lisperanto-function-definition
{
    position: absolute;
    display: inline-grid;
}

.lisperanto-sandbox-stripes
{
  background: inherit;
  display: inline-block;
}



.lisperanto-global-container
{
  position: absolute;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh; 
  max-width: 100vw; 
  max-height: 100vh; 
  overflow-x: clip; 
  overflow-y: clip;
}

.lisperanto-tool-bar
{
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  width: 100vw;
  text-align: center;
}

.lisperanto-main-body
{
  margin: 0rem;
  padding: 0rem;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
}

.lisperanto-sandbox-evaluation-bar
{
  position: absolute;
  bottom: 0rem;
  left: 55vw;
  background-color: inherit;
}

.lisperanto-sandbox-title
{
  background-color: inherit;
  display: inline-block;
}

.w3-animate-opacity
{
  animation:opac 0.8s
}
@keyframes opac{from{opacity:0} to{opacity:1}}